In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('LoanStats3c4.csv', low_memory = False)

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
0,36805548,39558264,10400,10400,10400,36 months,6.99%,321.08,A,A3,...,0,0,0,Jun-15,321.08,Jul-15,Jun-15,0,59,1
1,38098114,40860827,15000,15000,15000,60 months,12.39%,336.64,C,C1,...,0,0,0,Jun-15,336.64,Jul-15,Jun-15,0,NaN,1
2,37662224,40425321,7650,7650,7650,36 months,13.66%,260.20,C,C3,...,0,0,0,May-15,260.20,Jul-15,Jun-15,0,NaN,1
3,37612354,40375473,12800,12800,12800,60 months,17.14%,319.08,D,D4,...,0,0,0,Jun-15,319.08,Jul-15,Jun-15,0,36,1
4,37822187,40585251,9600,9600,9600,36 months,13.66%,326.53,C,C3,...,0,0,0,Apr-15,9338.58,NaN,Apr-15,0,NaN,1

In [4]:
df['issue_d_format'] = pd.to_datetime(df['issue_d'])

In [5]:
dfts = df.set_index('issue_d_format')
year_month_summary = dfts.groupby(lambda x : x.year * 100 + x.month).count()
loan_count_summary = year_month_summary['issue_d']

In [6]:
df['issue_d'][0:5]

0    Dec-14
1    Dec-14
2    Dec-14
3    Dec-14
4    Dec-14
Name: issue_d, dtype: object

In [7]:
import statsmodels.api as sm

In [8]:
df['issue_d'].hist()
plt.show()

TypeError: cannot concatenate 'str' and 'float' objects